#root {
  height: 100dvh;
  width: 100%;
  max-width: 1280px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: gray;
}

.page-content {
  position: absolute;
  width: 100%;
  right: -100%;
  z-index: 50;
  transition: all ease-in-out 1s;
}

.page-content.active {
  transform: translateX(-100%);
}

.page-content-button {
  all: unset;
  position: absolute;
  left: -30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(61, 61, 61, 0.4);
  transition: all ease-in-out 1s;
  cursor: pointer;
}

.page-content-button.active {
  transform: translateX(30px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

header {
  position: relative;
  height: 10dvh;
  width: 100%;
  background-color: blue;
  overflow: hidden;
}

.header-container {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes scaleToScreen {
  10% {
    transform: scale(1.1);
  }
  11% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(1);
  }
}

.title-container {
  width: 210px;
  display: flex;
  justify-content: space-around;
  transform-origin: left;
  animation: scaleToScreen ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.title-letter {
  font-size: 2em;
  transform: scale(1.5);
  font-weight: bolder;
  /* animation-delay: calc((sibling-index() - 1) * 500ms); */
}

@keyframes slideAndFadeOut {
  10% {
    transform: translateX(100%);
  }
  11% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateY(1000%);
  }
  95% {
    opacity: 1;
    transform: translate(0);
  }
}

.slider-relative {
  position: relative;
  height: 5px;
  width: 100%;
}

.slider-absolute {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  animation: slideAndFadeOut ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slider-mark {
  height: 5px;
  width: 210px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: aquamarine;
}
