#root {
  height: 100dvh;
  width: 100%;
  max-width: 1280px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: gray;
}

.page-content {
  position: absolute;
  width: 100%;
  right: -100%;
  z-index: 50;
  transition: all ease-in-out 1s;
}

.page-content.active {
  transform: translateX(-100%);
}

.page-content-button {
  all: unset;
  position: absolute;
  left: -30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(61, 61, 61, 0.4);
  transition: all ease-in-out 1s;
  cursor: pointer;
}

.page-content-button.active {
  transform: translateX(30px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes fadeIn {
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0);
  }
}

header {
  position: relative;
  height: 8dvh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: blue;
  overflow: hidden;
}

header h1 {
  animation: fadeIn ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: calc((sibling-index() - 1) * 500ms);
}
